{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock%}
{% block body %}
<form action="/controllers/auth.php?login" method="POST">
    <section>
        <label for="email">Username</label>
        <input class="border border-gray-500" type="text" id="email" name="username" autocomplete="email">
    </section>
    <section>
        <label for="password">Password</label>
        <input class="border border-gray-500" type="password" autocomplete="current-password" id="password"
            name="password">
    </section>
    <button class=" bg-slate-500 p-2" type="submit" name="login">Login</button>
</form>
{% endblock %}